In [ ]:
# Задание 1

In [2]:
# Импорт файла .csv
import pandas as pd
df = pd.read_csv('ratings.csv')

# создаем датафрейм с колонками 'movieId' и 'rating'

movie_rating = df[['movieId', 'rating']]

# Получаем строки 'movieId' у которых 'rating' = 5, группируем и считаем количество, 
# затем сортируем в порядке убывания по количеству оценок

top = movie_rating[movie_rating['rating'] == 5.0].groupby('movieId').count().sort_values(by = 'rating', ascending=False).head(5)

# Объединяем с таблицей названий и жанров

names = pd.read_csv('movies.csv')
top.merge(names, left_on='movieId', right_on='movieId')

,movieId,rating,title,genres
0,318,39553,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,32169,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,25918,Forrest Gump (1994),Comedy|Drama|Romance|War
3,260,25804,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,2571,25482,"Matrix, The (1999)",Action|Sci-Fi|Thriller

In [ ]:
# Задание 2

In [4]:
# Импорт .csv

import pandas as pd
countries = pd.read_csv('power.csv')

# Выполняем условия сортировки
# по категориям
df_cat = countries[(countries['category'] == 4) | (countries['category'] == 12) | (countries['category'] == 21)]

# по странам
df_cat_cou = df_cat[(df_cat['country'] == 'Estonia') | (df_cat['country'] == 'Lithuania') | (df_cat['country'] == 'Latvia')]

# по годам
result = df_cat_cou[(df_cat_cou['year'] >= 2005) & (df_cat_cou['year'] <= 2010)]

# потребление больше 0
quantity = result[result['quantity'] > 0].sum()
print(quantity['quantity'])

240580.0

In [ ]:
# Задание 3

In [3]:
page_url = 'https://chel.74.ru/exchange/exchange'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'table_sales'}) #при указании кодировки вылетает с ошибкой
df[:15]

[                   USD                                     EUR  \
    Покупка сортировать Продажа сортировать Покупка сортировать
 0                 7250                7450                8580
 1                 7330                7379                8667
 2                 7330                7379                8667
 3                 7324                7368                8662
 4                 7324                7368                8662
 5                 7324                7368                8662
 6                 7324                7368                8662
 7                 7324                7368                8662
 8                 7324                7368                8662
 9                 7324                7368                8662
 10                7348                7378                8667
 11                7330                7404                8660
 12                7260                7460                8590
 13                7310                7410                8640
 14                7315                7410                8625
 15                7340                7390                8680
 16                7320                7410                8650

                                                                      Банк
    Продажа сортировать                                     Адрес, телефон
 0                 8780  АКЦИОНЕРНЫЙ ЧЕЛЯБИНСКИЙ ИНВЕСТИЦИОННЫЙ БАНК «Ч...
 1                 8699  АО «Банк ФИНАМ» Красная ул, 63, 8 (351) 239-02...
 2                 8699  АО «Банк ФИНАМ» 40-летия Победы ул, 38г, 8 (35...
 3                 8706  АО «Россельхозбанк» на карте Сони Кривой ул, 2...
 4                 8706  АО «Россельхозбанк» на карте Братьев Кашириных...
 5                 8706  АО «Россельхозбанк» Героев Танкограда ул, 102,...
 6                 8706  АО «Россельхозбанк» на карте Кирова ул, 42, 8 ...
 7                 8706  АО «Россельхозбанк» на карте Гагарина ул, 9, 8...
 8                 8706  АО «Россельхозбанк» Комсомольский пр-кт, 41, 8...
 9                 8706  АО «Россельхозбанк» на карте Ленина пр-кт, 26а...
 10                8699  АО «Углеметбанк» Молодогвардейцев ул, 17Б, 8 (...
 11                8745  АО «Уралпромбанк» на карте\tСвободы ул, 97, 8 ...
 12                8790  ООО «ФФИН Банк» Лесопарковая ул, 5, 8 (800) 30...
 13                8750  ПАО «ЧЕЛИНДБАНК» на карте\tКарла Маркса ул, 80...
 14                8730  ПАО Банк «Финансовая Корпорация Открытие» Кали...
 15                8735  ПАО КБ «Восточный» Победы пр-кт, 172, 8 (800) ...
 16                8750  ПАО СКБ Приморья «Примсоцбанк» Труда ул, 95, 8...  ]